<!-- if fantasy_league.errors.any? >
    <div style="color: red">
      <h2><= pluralize(fantasy_league.errors.count, "error") %> prohibited this fantasy_league from being saved:</h2>

      <ul>
        < fantasy_league.errors.each do |error| %>
          <li><= error.full_message %></li>
        < end %>
      </ul>
    </div>
< end %-->

<div class="row">
  <!-- left column -->
  <div class="col-md-12">

    <% if @model.errors.any? %>
      <% @model.errors.each do |error| %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= error.options[:message] %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    <% end %>

    <!-- general form elements -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Fields</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <%= form_with(model: model) do |form| %>
        <div class="card-body">
          <div class="form-group">
            <%= form.label :name %>
            <%= form.text_field :name, class:"form-control", id:"exampleInputName", placeholder:"Enter name" %>
          </div>
          <div class="form-check">
            <%= form.check_box :status, class:"form-check-input", id:"exampleStatus" %>
            <%= form.label :status, class:"form-check-label", for:"exampleStatus" %>
          </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer" align="right">
          <%= form.submit class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <!-- /.card -->
  </div>
</div>
<!-- /.row -->