<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          Description of Fantasy League
        </h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <dl>
          <dt>Id:</dt>
          <dd><%= @model.league_uuid %></dd>
          <dt>Name:</dt>
          <dd><%= @model.name %></dd>
          <dt>Active?:</dt>
          <dd><%= @model.status ? 'YES' : 'NO' %></dd>
          <dt>Created at:</dt>
          <dd><%= @model.created_at.strftime('%d/%m/%Y') %></dd>
        </dl>
      </div>
      <!-- /.card-body -->

      <div class="card-footer" align="right">
        <%= link_to "Back", fantasy_leagues_path, class:"btn btn-primary" %>
      </div>
    </div>
    <!-- /.card -->  
  </div>
  <!-- ./col -->
</div>
<!-- ./row -->
