<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Whitelabel Fantasy League</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- Google Font: Source Sans Pro -->
    <%= stylesheet_link_tag('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback', 'data-turbo-track': 'reload') %>
    <%= stylesheet_link_tag('application.css', 'data-turbo-track': 'reload') %>
  </head>

  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">      
      <%= render partial: 'layouts/layout_navbar' %>
      
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Dashboard</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Dashboard</li>
                </ol>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>

        <%= yield %>
      </div>
      <!-- Content Wrapper. Contains page content -->

      <%= render partial: 'layouts/layout_sidebar' %>

      <%= render partial: 'layouts/layout_main_footer' %>
    </div>
    <!-- wrapper -->
  </body>

  <%= javascript_include_tag('application.js', 'data-turbo-track': 'reload') %>
</html>
